  /* the following is done to target only <p> with class "para1"**/

  p.para1{

  }

  div,p{
    background-color: red;
  }

/*Now we are gonna put a spcae in between to target all paragraphs that have a div as a parent**/

  div p{
  background-color: blue;
  }

/*target all the  <p> with a direct* parent <div>**/

  div > p{
    background-color: green;
  }

/*targets all  <p> that are immediately after a <div>**/

  div + p{
    background-color: cyan;
  }

/*targets all <p> tags with the same parent as <div> tags**/

div ~ p{
  background-color: orange;
}


p{
  background-color: magenta;
}


  body{
    background-color: purple;
    background-color: yellow;
    background-color: black;
  }

  img{
    width: 300px;
    height: 300px;
    margin: 50px;
    border: 3px solid black;
    padding: 20px;
  }
