body{
  color: black;
	background-color: black;
}

#wrapper{
	width:1000px;
  height: 1940px;
	margin:0 auto;
  background-color: white;
}

.titles{
  width: 992px;
  height: 50px;
  margin: 8px 2px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.titles2{
  width: 992px;
  height: 30px;
  margin: 8px 2px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
}

.links{
  width: 992px;
  height: 25px;
  padding-top: 2px;
  padding-left: 5px;
  padding-bottom: 2px;
  text-align:left;
}

#pageAnchor{
  width: 992px;
  margin: 10px 2px;
  height: 50px;
  padding-top: 10px;
  padding-left: 5px;
  padding-bottom: 2px;
  text-align:left;
}

/* */

.list1{
  width: 992px;
  height: 160px;
  padding-top: 2px;
  padding-left: 5px;
  padding-bottom: 2px;
  text-align:left;
}

/* The following CSS code will be used for NEESTING & GROUPING */

/* grouing */
.li1,.li2,.li3,.li5{
  color: green;
}

.li4{
  color: orange;
}

/* Nesting*/
#li6{
  color: orange;
}

ul li{
  color: green;
}


#images{
  height:700px;
  width:1000px;
  margin:0 auto;
  background-color: white;
}
/* The following CSS code uses to satisfy the requirements for an elements that is position absolute, one that is position fixed, and another that is relative*/
#leicesterPoster{
  position: absolute;
  height: auto;
  width:300px;
  right: 630px;
}

#ajaxPoster{
  position: relative;
  height: auto;
  width:300px;
  top: 300px;
  left: 333px;
}

#teamCanada{
  position: fixed;
  height: auto;
  width:70px;
  top: 600px;
  left: 1200px;
}


/*The following code will use CSS for styling the "Box Model" and to apply all text related CSS code */
/* All of the Text related requirements will be satfied within the box model*/


#boxModel{
 width: 982px;
 height: 480px;
 margin: 2px;
 border: 2px solid slateblue;
 padding: 5px;
 background-color: pink;
}

#content{
  color: white;
}

#paraTitle{
	height:30px;
  text-align: center;
  color: red;
}

#paraText{
  color: slateblue;
  font-size: large;
  font-style: italic;
  text-align: left;
  text-transform: uppercase;
  top: 400px;
}
