body{
	color: white;
	background-color: white;
  width:750px;
}


#wrapper{
	width:750px;
	margin:0 auto;
	background-color: white;
}

#header{
	height:50px;
	text-align:center;
  background-color: red;
  top:5px;
}

#leftbody{
  float: left;
	height: 500px;
	background-color: green;
  width:750px;
}

#bottom{
	height:50px;
  text-align:left;
  background-color: blue;
  clear:both;
}
