body{
	color: white;
	background-color: white;
}

#wrapper{
	width:750px;
	margin:0 auto;
  background-color: white;
}

#header{
	height:45px;
	text-align:center;
  background-color: red;
  top:5px;
}

#leftbody{
  float: left;
	height: 500px;
	background-color: green;
  width:740px;
  padding: 5px;
}

#footer{
	height:50px;
  text-align: left;
  background-color: blue;
  clear: both;
}
