/* black background to help wtih the text and pic visivility **/

body{
  background-color: Black
}

p{
  color: red;
}

/* b/c original picture is too large, we resize it**/

#bakumanPic{
  height: auto;
  width: 200px;
  position: absolute;
  left: 50px;
  z-index: -1
}

#shonnenJump{
  height: auto;
  width: 300px;
  position:fixed;
  top: 30px;
  left: 60px;
  z-index: -3
}

#positionExample{
  position: relative;
  top: 50px;
  color: blue;
}
