body{
  color: white;
  background-color: white;
}

.wrapper{
  width: inherit;
  height:auto;
  background-color: #323232;
}

.header{
  width: 100%;
  height: 100px;
  background-color: #10100e;
}

.nav{
  background-color: #202124;
  height: 40px;
}

#title1{
  text-align:center;
  padding-top: 10px;
  padding-bottom: 15px;
  font-size: 30px;
}

#logo{
  float: left;
  height: 100px;
  width: auto;

/* Buttons created to connect all the pages in the website to each other */

}
.buttonNav1{
  background-color: #323232;
  color: white;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  text-align: center;
  margin-left: 25px;
  margin-right: 1px;
  padding-top: 6px;
  padding-right: 23px;
  padding-bottom: 14px;
  padding-left: 23px;
  height: 40;
  float: left;
}
.buttonNav{
  background-color: #323232;
  color: white;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  text-align: center;
  margin-right: 1px;
  margin-left: 1px;
  padding-top: 6px;
  padding-right: 23px;
  padding-bottom: 14px;
  padding-left: 23px;
  height: 40;
  float: left;
}
/*---------------------------------------------------------------------------*/

.leftBody{
  width: 30%;
  padding-top:30px;
  padding-right: 50px;
  padding-bottom: 30px;
  padding-left: 50px;
  margin-top: 40px;
  margin-right: 0px;
  margin-left: 10%;
  background-color: #10100e;
  float: left;
}

.rightBody{
  width: 38%;
  margin-top: 40px;
  margin-left: 0px;
  padding-top: 40px;
  padding-bottom: 34px;
  padding-left: 50px;
  background-color: #10100e;
  float: left;
}

#memeGoku{
  width: 500px;
  height:auto;
}

#memeAnime{
  width: 500px;
  height:auto;
}

.footer{
  width: 100%;
  text-align: left;
  margin-top: 25px;
  float: left;
  clear: both;
  background-color: #10100e;
}

.footerElements{
  padding-left: 8%;
  padding-right: 8%;
}
.foot{
  text-align: left;
  margin-top: 30px;
  margin-right: 60px;
  margin-left: 60px;
  padding-bottom: 20px;
  float: left;
}
