div{
  width: 95%;
  height: 100px;
  margin: 8px 2%;
  border: 2px dashed slateblue;
  padding-top: 420px;
  text-align: center;
}

#nomalText{
  font-size: medium;
  color: black;
}

#smallGreenText{
  font-size: small;
  color: green;
  text-align: center;
}

.orangeText{
  color: orange;
  font-size: xx-large;
}

.raisedFont{
  font-size: xx-large;
  color: red;
  vertical-align: top;
}
