div{
  width: 14400;
  height: 200px;
  margin: 8px 2px;
  border: 2px dashed slateblue;
  padding-top: 100px;
  text-align: center;
}

#nomalText{
  font-size: medium;
  color: black;
}

#smallGreenText{
  font-size: small;
  color: green;
  text-align: center;
}

.paraText1{
  color: orange;
  font-size: xx-large;
}

.spanRaisedFont1{
  font-size: xx-large;
  color: red;
  vertical-align: top;
}

.spanRaisedFont2{
  font-size: xx-small;
  color: yellow;
  font-style: italic;
  text-transform: uppercase;
}

.paraText2{
  color: slateblue;
  font-size: xx-small;
  text-align: right;
}
